<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Menu</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <nav role="navigation" aria-label="Menú Cliente">
        <h2>Menú Cliente</h2>
        <a href="/cliente/generar">Generar Reporte</a>
        <a href="/cliente/reportes">Ver Reportes Enviados</a>
    </nav>
</body>
</html>