<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Menu</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <nav role="navigation" aria-label="Menú Soporte">
        <h2>Menú Soporte</h2>
        <a href="/soporte/asignados">Ver Reportes Asignados</a>
        <a href="/soporte/incidencias">Ver Incidencias Pendientes</a>
        <a href="/soporte/actualizar">Actualizar Reporte</a>
    </nav>
</body>
</html>