<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Menú Soporte</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="menu-container">
      <h2>Soporte</h2>
      <a href="/soporte/incidenciasPendientes" class="menu-button">Incidencias Pendientes</a>
      <a href="/soporte/solucionesTerminadas" class="menu-button">Soluciones Terminadas</a>
    </div>
  </body>
</html>
