<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>ReportesAsignados</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <h2>Reportes Asignados</h2>
    <ul>
      <% reportes.forEach(r => { %>
        <li><%= r.titulo %> - <%= r.descripcion %></li>
      <% }); %>
    </ul>
  </body>
</html>