<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Menu</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <nav role="navigation" aria-label="Menú Administrador">
        <h2>Menú Administrador</h2>
        <a href="/admin/asignar">Asignar Reportes</a>
    </nav>
</body>
</html>